<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Lato", sans-serif}
.mySlides {display:none}
.w3-left, .w3-right, .w3-tag {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>


<div class="w3-content w3-container" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
  <!-- Grid -->
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="img_avatar3.png" alt="Norway" style="width:100%">
        <div class="w3-container">
          <h3>Abhinay</h3>
          <p class="w3-opacity">Team member</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn"onclick="document.getElementById('id01').style.display='block'" >Contact</button></p>
        </div>
      </div>
    </div>
	
	<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-8 w3-animate-top"  style="width:30%">
      <header class="w3-container w3-theme-l1">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">X</span>
        <h3>Contact me?</h3>
      </header>
      <div class="w3-padding"></br>
        <p><h4>Mobile: +1 669 258 1168</h4></p>
		<p><h4>Email: abhinay_mama@gmail.com</h4></p></br>
      </div>
      <footer class="w3-container w3-theme-l1">
       <h4>Thank you <i class="fa fa-smile-o"></i></h4>
      </footer>
    </div>
</div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="img_avatar3.png" alt="Norway" style="width:100%">
        <div class="w3-container">
          <h3>Farrukh</h3>
          <p class="w3-opacity">Team member</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="img_avatar3.png" alt="Norway" style="width:100%">
        <div class="w3-container">
          <h3>Aaquib</h3>
          <p class="w3-opacity">Team member</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>