<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body class="w3-black">

<div class="w3-display-container">
  <img src="img_lights.jpg"  style="width:100%;height:400px">
  <div class="w3-display-middle w3-large">
    <h1 class="w3-jumbo w3-text-white w3-wide"><b>HOW IT WORKS? <i class="material-icons w3-spin w3-jumbo">settings</i></b></h1>
  </div>
   <div class="w3-display-bottomright w3-container">
      <p class="w3-text-white w3-xlarge"></p>	
   </div>
</div>

<div class="w3-container w3-light-blue w3-large w3-padding-16" style="margin-right:10%">
  <p><span class="w3-xlarge"><span class="w3-badge">1</span> APPLY. </span>Once approved, we'll send you a card to access vehicles worldwide</p>
</div>

<div style="width:95%">
<div class="w3-container w3-deep-orange w3-large w3-padding-16" style="margin-left:10%">
  <p><span class="w3-xlarge"><span class="w3-badge">2 </span> RESERVE. </span>Book a car for as little as 1 hour or as long as 10 weeks</p>
</div> </div>

<div style="width:%">
  <div class="w3-container w3-light-green w3-large w3-padding-16" style="margin-left:20%">
  <p><span class="w3-xlarge"><span class="w3-badge">3 </span> DRIVE. </span> Hit the road. When you're done, park the car in its reserved spot</p>
  </div>
</div>

</body>
</html>

