<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
body{background-image: url("paper.gif");}
html,body,h1,h2,h3,h4,h5 {font-family: "Lato", sans-serif}
.mySlides {display:none}
.w3-left, .w3-right, .w3-tag {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>


<!-- Grid -->
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-center w3-padding-64">
      <h3>Pricing Plans</h3>
      <p>Choose a pricing plan that fits your needs.</p>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black">
          <p class="w3-xlarge">ONE-WAY CAR RENTAL</p>
        </li>
        <li class="w3-padding-16"><b>Upto 24 hours	</b></li>
        <li class="w3-padding-16"><b>Yes</b> Fuel</li>
        <li class="w3-padding-16"><b>Yes</b> Insurance</li>
        <li class="w3-padding-16"><b>24 hour</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 10</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>

	
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-dark-grey">
          <p class="w3-xlarge">LONG-TERM CAR RENTAL</p>
        </li>
        <li class="w3-padding-16"><b>Upto 10 weeks</b></li>
        <li class="w3-padding-16"><b>No</b> Fuel</li>
        <li class="w3-padding-16"><b>Yes</b> Insurance</li>
        <li class="w3-padding-16"><b>24 hour</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black">
          <p class="w3-xlarge">BUSINESS CAR RENTAL </p>
        </li>
        <li class="w3-padding-16"><b>Upto 10 Hours</b></li>
        <li class="w3-padding-16"><b>No</b> Fuel</li>
        <li class="w3-padding-16"><b>Yes</b> Insurance</li>
        <li class="w3-padding-16"><b>24 hour</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 50</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-btn w3-green w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>